<div class="container mt-4">
    <h1>À propos d'Au Petit Village - Une passion gauloise</h1>
    <p>Au Petit Village" est bien plus qu'une simple entreprise. 
      C'est une aventure familiale qui a débuté il y a plusieurs années avec une 
      idée simple : faire revivre les personnages emblématiques de la bande dessinée 
      Astérix et Obélix à travers des figurines de qualité.
      Nous nous adressons à tous les passionnés, jeunes et moins jeunes, qui souhaitent 
      garder un lien avec l'univers fantastique de ces irréductibles Gaulois. Chaque figurine 
      est conçue avec amour et soin, pour capturer l'âme des personnages et vous offrir un morceau d'histoire dans votre quotidien.</p>
</div>
